@model string

@{
    ViewBag.Title = "Stuff Page";
}

<div id="react-content"></div>

@section scripts
{
    <script type="text/javascript">
        ReactDOM.render(
            React.createElement(ColourPage, { initialData: '@Html.Raw(Model)' }),
            document.getElementById('react-content')
        );
    </script>
}
