@import "Variables.less";

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* set up standard margins */
.mr10 {
    margin-right: 10px;
}

.mt20 {
    margin-top: 10px;
}

.mr20 {
    margin-right: 20px;
}

/* set up error handing */
input.error {
    border: solid 1px @dark-red;
}

span.error {
    color: @dark-red;
    display: inline-block;
}

.error-message {
    border-color: @dark-red;
    background-color: @light-red;
    padding: 20px;
    color: @white;
}

option {
    &.grey {
        color: #98A5C3;
    }
}

/* set up standard elements */
.badge {
    border-radius: 50%;
    background-color: @orange;
    color: #fff;
    font-weight: 700;
}

.check-list {
    display: block;

    input {
        height: 20px;
    }

    span {
        margin-left: 20px;
        font-weight: 500;
    }
}

.modal-footer {
    margin-top: 0;
}

.modal-list {
    display: block;
}

.pagination {
    .buttons {
        margin-right: -25px;
    }
}

.add-row {
    background-color: #fff
}